doctype html
html(lang="en")
    head
        title #{name}
        link(href="css/styles.css", rel="stylesheet")
        script(src="https://unpkg.com/core-js-bundle@3.2.1/minified.js", type="text/javascript")
        script(src="https://cdn.jsdelivr.net/npm/echarts@4/dist/echarts-en.common.min.js", type="text/javascript")
    body
        div(id="settings-bar")
        div(id="search", class="under-settings")
            input(id="search-bar", type="search", name="query", placeholder="Search...")
            div(id="search-results")
        div(id="info", class="under-settings thin-scrollbar")
            div(class="infobox")
                h1 Welcome to Universalis!
            div(class="infobox")
                p.
                    Universalis is a crowdsourced market board aggregator that anyone can upload data to via a simple API.

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus justo, aliquam a quam sit amet, rhoncus rhoncus dolor. Fusce eu augue sed turpis facilisis venenatis ut nec odio. Vivamus sit amet ante ipsum. Sed vitae nulla eu ante tempus ultricies. Sed ut consequat lorem, quis malesuada dui. Praesent hendrerit mollis nisi, non convallis dui molestie id. Vestibulum malesuada rutrum ex, in interdum diam blandit vel.

                    Etiam pharetra ac urna vitae posuere. Sed scelerisque efficitur mi, in feugiat ligula dignissim sit amet. Sed pretium vitae diam eget dapibus. Vestibulum vel felis efficitur nulla tempus aliquam. In consequat placerat lectus, et consequat libero eleifend sit amet. Fusce blandit pellentesque sollicitudin. Nulla eu dolor hendrerit ligula posuere tincidunt id non tellus. Morbi egestas dolor eget tortor aliquet, ut lobortis diam elementum. Phasellus hendrerit, velit et mattis tincidunt, nunc ligula sagittis augue, quis consequat sem mi porta ipsum. Proin fringilla justo id risus sagittis egestas in ut ex. Vivamus convallis congue nibh et varius. Cras a convallis felis, ac bibendum nisi. Donec eget scelerisque enim. Curabitur pharetra tellus felis, quis interdum elit eleifend ac.

                    Quisque molestie ex auctor, faucibus nisl a, cursus nisl. Nam convallis augue eu arcu tempor, non venenatis sapien sollicitudin. In ac augue justo. Nam ut venenatis felis. Fusce eget suscipit arcu, non feugiat ipsum. Phasellus iaculis sed sapien quis porta. Sed congue augue sed tortor scelerisque, vel volutpat lorem lacinia. In viverra, nunc vitae luctus auctor, sem nibh congue purus, ut tempor tortor mi vel risus. Morbi et diam lobortis elit blandit mattis. In ultricies gravida lectus vel rutrum. Fusce maximus, dui et consequat facilisis, leo risus auctor sapien, vitae sollicitudin diam ex a lorem. Nulla in justo nec ligula maximus tristique non ut nisl. Etiam tristique sit amet nibh nec interdum. Sed a maximus diam, quis fermentum tellus.

                    Mauris dictum sem vel consectetur luctus. Donec eget volutpat enim. Sed eget ornare massa. Nullam mollis lacus vitae libero bibendum, vel viverra neque finibus. Sed sit amet ante iaculis, maximus dolor in, semper quam. Phasellus bibendum turpis ut eros volutpat, id mollis nisl maximus. Quisque at mauris non elit pellentesque pharetra a ut lacus. Cras maximus pharetra justo at tempus.

                    Quisque elementum libero at tellus dignissim malesuada id ac sapien. Morbi posuere, turpis nec luctus faucibus, neque mauris gravida erat, ac efficitur libero nisi pretium leo. Pellentesque pharetra convallis quam eu luctus. Donec fermentum nunc velit, a mollis massa sollicitudin sed. Curabitur aliquet quis dolor vel fermentum. Aliquam pulvinar, nulla sit amet commodo fringilla, nisl odio tristique nunc, quis feugiat nisl nibh nec augue. Etiam nec ligula risus. Sed in diam nulla. Donec quis turpis aliquet, molestie est eu, ultrices risus. Ut ultrices mi non neque semper, in molestie lorem pharetra. Morbi erat turpis, tempor et massa id, dapibus tempor risus. Praesent bibendum libero eros, quis pretium sem fermentum sit amet. Cras a lacinia ligula, bibendum tincidunt nulla. Quisque in quam sodales, consectetur orci a, dapibus nibh. Integer dictum augue massa, ac auctor nulla bibendum ut. Morbi in rutrum neque.
            div(class="infobox", id="credits" style="text-align: center")
                p
                    span Universalis v#{version} |!{" "}
                    span Discord
                    span !{" "}|!{" "}
                    a(href="https://github.com/karashiiro/Universalis") Github
                    span !{" "}|!{" "}
                    span Twitter
                    span !{" "}|!{" "}
                    span Graphs powered by!{" "}
                    a(href="https://echarts.apache.org/en/index.html") ECharts
                p FINAL FANTASY XIV © 2010 - 2019 SQUARE ENIX CO., LTD. All Rights Reserved.
    loadafter
        script(src="util.min.js", type="text/javascript")
        script(src="globals.min.js", type="text/javascript")
        script(src="idConversions.min.js", type="text/javascript")
        script(src="onHashChange.min.js", type="text/javascript")
        script(src="main.min.js", type="text/javascript")
